body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none!important;
  list-style: none;
  
  @font-face {
    font-family: ' poppins,sans-serif';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
  }
}
p{
  font-family: poppins,sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0;
    color: #000;
    font-weight: 300;
}
