.Banner-Section{
  background-color: #ecfdff;
  width: 100%;
  height: 820px;
  position: relative;
  top: -148px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .container{
    .row{
      align-items: center;

      h1{
        color: #000;
        font-size: 66px;
        font-weight: 700;
        margin-bottom: 35px;
        line-height: 72px;
        @media (max-width:991px){
          font-size: 40px;
          margin-bottom: 15px;
          line-height: 1.3;
        }
      }
      p{
        font-size: 15px;
        font-weight: 300  ;
        line-height: 1.8;
        margin-bottom: 70px;
        padding-right: 80px;
        @media (max-width:991px){
          margin-bottom: 10px;
        }
      }
      .bttn {
        display: inline-block;
        width: 180px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 5px;
        font-size: 15px; 
        font-weight: 500;
        color: #fff;
        transition: all .4s ease-in-out;
        background-color: #ff3368;
        background-size: 200% auto;
        background-image: linear-gradient(16deg,#ff005a 0%,#ff5d2d 64%,#ffba00 100%);
        border: none;
      
        &:hover{
          color: #fff;
          background-position:right center;
        }
        @media (max-width:991px){
          width: 140px;
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
  
  @media (max-width: 991px){
    height: 550px!important;
  }

  
  .carousel-control-next, .carousel-control-prev{
    opacity: 1;
    top: 146%;
    bottom: unset;
    width: 105px;

    @media (max-width:768px){
      display: none;
    }
    @media(max-width: 991px){
      top: 187%;
    }
  }
  .carousel-control-prev{
    right: calc(0% + 91px);
    left: unset;
  }
  .carousel-control-next::after, .carousel-control-prev::after{
    color: #000;
    background-color: #fff;
    padding: 20px;
    font-weight: 700;
  }
  .carousel-control-next::after{
    content: "Previous";
  }
  .carousel-control-prev::after{
    content: "Next";
    border-right: 1px solid #000;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    display: none;
  }
  .col{
    @media(max-width: 992px){
      display: none;
    }
  }
}