.container{

  .row{
    justify-content: center;

    .col-lg-8{
      display: flex;
      justify-content: center;

      h2{
        font-size: 36px;
        color: #000;
        line-height: 27px;
        font-weight: 700;
        margin-bottom: 80px;

        @media (max-width: 576px) and (max-width:768px){
          font-size: 25px;
          line-height: 35px;
          margin-bottom: 15px;
        }
      }
    }

    .col-sm-6{

      .featuerd{
        padding: 50px;
        background-color: #f8fbff;
        margin-bottom: 30px;
        position: relative;
        height: 400px;
        overflow: hidden;

        p{
          line-height: 13px;
          font-size: 15px;
          color: #000;
          font-weight: 300;
          margin-bottom: 0;
        }

        h3{
          font-size: 24px;
          font-weight: 700;
          margin-top: 21px;
          line-height: 1.2em!important;
        }

        a{
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 2px;
          color: #ff3368;
          position: absolute;
          left: 50px;
          bottom: 60px;
          line-height: 15px;
          transition: ease-in-out .5s;
          z-index: 1;
          display: none;
        }

        img{
          position: absolute;
          bottom: 0;
          right: 15px;
          max-width: 100%;

          @media(min-width: 992px) and (max-width: 1200px){
            max-height: 280px!important;
            right: 0!important;
            left: 0;
            margin: 0 auto;
          }
          @media (min-width:576px) and (max-width: 991px){
            max-height: 195px;
            right: 0;
            left: 0;
            margin: 0 auto;
          }
          @media (max-width: 576px){
            max-height: 247px;
            right: 0;
            left: 0;
            margin: 0 auto;
          }
        }
        @media (min-width: 576px) and (max-width: 991px){
          height: 300px;
          padding: 35px 20px;
        }
        @media (max-width: 576px){
          padding: 35px 20px;
        }
      }
      &:hover a{
        display: block;
      }
    }
  }
}